<!DOCTYPE html>
<html>
<head>
  <title>Mongorb</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js",
			"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js","rails" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
